---
import LayoutMensaje from "../components/LayoutMensaje.astro";
---

<LayoutMensaje title="Mis practicas mas recientes">
    <h1 class="lg:text-center font-semibold text-light-blue-dark -mb-4 lg:mb-0 text-center w-full text-3xl">Solo aquel que está bajo la duda consulta.</h1>
    
</LayoutMensaje>
