---
import Layout from "../components/Layout.astro";
import Scroll from "../components/Scroll.astro";
import Portafolio from "../components/Portafolio.astro";

---

<Layout title="Mi portafolio">
  <h1 class="text-right lg:text-left font-semibold text-light-blue-dark -mb-4 lg:mb-0">Mis trabajos más destacados</h1>
  <Scroll>

    <Portafolio url="https://dub.sh/wack-a-mole" title="Pegale al Topo" description="Un juego creado con Blazor WebAssembly - PWA" imagen="https://github.com/mendozalz/Pegale-al-Topo/blob/main/BlazorGame/imgReadme/gif_1.gif?raw=true" tecnologias={["Blazor, WebAssembly, C#"]}/>

    <Portafolio url="https://dub.sh/pixelwiz" title="PixelWiz" description="Una pequeña y sencilla App CrossPlatform para Android, IOS y Windows" imagen="https://github.com/mendozalz/PixelWiz/blob/main/PixelWiz/imgReadme/PixelWiz.gif?raw=true" tecnologias={[".NET MAUI, C#"]}/>

    <Portafolio url="https://dub.sh/colorhex" title="ColorHex" description="Una pequeña y sencilla App CrossPlatform para Android, IOS y Windows" imagen="https://github.com/mendozalz/ColorHEX/blob/main/ColorHEX/imgReadme/GIf-1.gif?raw=true" tecnologias={[".NET MAUI, C#"]}/>

    <Portafolio url="https://audifonos-pro-mlz.netlify.app/" title="MLZ Pro ONE" description="Final de proyecto del curso ThreeJs avanzado | R3F y GSAP | (ver en PC)" imagen="https://github.com/mendozalz/Audifonos3D/blob/main/public/cover.gif?raw=true" tecnologias={["React", "THREEJs", "R3F"]}/>

    <Portafolio url="https://fallout-drink.netlify.app/" title="Fallout Drink" description="Combinanción de diseño 3D en juego con el scroll | R3F y GSAP" imagen="https://github.com/mendozalz/Fallout-Drink/blob/main/public/readme.gif?raw=true" tecnologias={["React", "THREEJs", "R3F"]}/>

    <Portafolio url="https://laptop-portafolio-threejs.netlify.app/" title="Laptop 3D" description="Laptop portafolio 3D en Threejs, con R3F | (ver en PC)" imagen="https://github.com/mendozalz/Laptop-Threejs/blob/main/public/readme/laptop.gif?raw=true" tecnologias={["React", "THREEJs", "R3F"]}/>

    <Portafolio url="https://portal-shaders-threejs.netlify.app/" title="Portal 3D" description="Portal 3D en Threejs, practicas con shaders" imagen="https://github.com/mendozalz/Portal/blob/main/public/portal.gif?raw=true" tecnologias={["React", "THREEJs"]}/>

    <Portafolio url="https://drone-three-js.vercel.app/" title="Drone 3D" description="Desarrollo y avances de mis estudios en el desarrollo web 3D con ThreeJs y bellas animaciones de transición con GSAP" imagen="https://github.com/mendozalz/Drone-ThreeJs/blob/main/public/readme/Drone_pc.gif?raw=true" tecnologias={["React", "THREEJs", "GSAP"]}/>

    <Portafolio url="https://three-js-gamma-ten.vercel.app/" title="Practicas con ThreeJs" description="Practicas y avances de implementaciones de render realismo en ThreeJs para mejora de calidad de escena" imagen="https://raw.githubusercontent.com/mendozalz/ThreeJs/main/public/RenderRealismo.png" tecnologias={["React", "THREEJs"]}/>

    <Portafolio url="https://octavio-marulanda-portafolio.vercel.app/" title="Biografía de Octavio Marulanda Morales" description="Vida y obra de Octavio Marulanda Morales para la agencia NODOS - (en desarrollo)" imagen="https://raw.githubusercontent.com/mendozalz/BiografiaOctavioMarulandaMorales/main/public/img/logo%20octavio-02.png" tecnologias={["ASTRO", "Tailwind", "FRAMER MOTION", "Locomotive"]}/>
    
    <Portafolio url="https://refactor-inventek.netlify.app/" title="Refactor INVENTEK" description="Nuevo diseño y refactorización de la web de INVENTEK" imagen="https://raw.githubusercontent.com/mendozalz/refactor-INVENTEK/main/images/inventek/imagotipo.png" tecnologias={["HTML", "CSS", "JS"]}/>
    
    <Portafolio url="https://mendozalz-python.reflex.run" title="Portafolio Python" description="Portafolio creado en codigo Python con el framework de Reflex" imagen="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png" tecnologias={["Python","Reflex", "GSAP", "Lenis"]}/>


    <Portafolio url="https://github.com/mendozalz/api-poemas" title="API Poemas" description="Conociendo el ecosistema Serverless, pequeña muestra de como crear mi propia API de Poemas con la API de ChatGPT de lenguajes de programación, AWS Serverless y funciones lambda..." imagen="https://raw.githubusercontent.com/mendozalz/api-poemas/main/api_poemas.png" tecnologias={["AWS", "JS", "Funciones Lambda"]}/>

    <Portafolio url="https://mendozalz-metaverse.vercel.app/" title="Metaverse" description="Experimentado en la creación de mi propio metaverso..." imagen="https://raw.githubusercontent.com/mendozalz/metaverse/main/public/assets/Mendozalz%20Metaverse_NPC.gif" tecnologias={["Next.js", "Three.js"]}/>

    <Portafolio url="https://mlz-freefire.netlify.app/" title="Free Fire Card" description="Web Component en JS Vanilla de uso multiporposito alusivo a Free Fire..." imagen="https://camo.githubusercontent.com/aba4dfc33e5aaf00853938eaa307a174a9dbdba795d8015aa1c3270d565c6dbc/68747470733a2f2f692e6962622e636f2f4456647136636b2f467265652d466972652d436172642e676966" tecnologias={["Web Component, JS, HTML, CSS"]}/>

    <Portafolio url="https://marzipano.netlify.app/" title="Recorrido 360°" description="Demostración para implementación laboral de recorrido de las oficinas donde laboraba, por motivos privados solo hay imagenes referenciales..." imagen="	https://github.com/mendozalz/Recorrido_360/raw/main/img/Project%20Title.gif" tecnologias={["HTML", "CSS", "JS", "Marzipano Framework"]}/>
  </Scroll>
</Layout>