---
import Layout from "../components/Layout.astro";
import Scroll from "../components/Scroll.astro";
import Portafolio from "../components/Portafolio.astro";

---

<Layout title="Mi portafolio">
  <h1 class="text-right lg:text-left font-semibold text-light-blue-dark -mb-4 lg:mb-0">Mis trabajos más destacados</h1>
  <Scroll>
    <Portafolio url="https://github.com/mendozalz/Portfolio-Python" title="Portafolio Python" description="Portafolio creado en codigo Python con el framework de Reflex" imagen="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c3/Python-logo-notext.svg/640px-Python-logo-notext.svg.png" tecnologias={["Python","Reflex", "GSAP", "Lenis"]}/>

    <Portafolio url="https://github.com/mendozalz/ReactEstadia" title="React Estadia" description="Proyecto React estadia como parte del aprendizaje en el uso de: React-router-dom, React Form, el uso de Watch y manipulación para impresión o descarga de documcumento PDF." imagen="https://raw.githubusercontent.com/mendozalz/ReactEstadia/main/public/re-1.png" tecnologias={["React"]}/>
    
    <Portafolio url="https://github.com/mendozalz/ReactTravel" title="React Travel" description="Proyecto React travel como parte del aprendizaje en el uso de: React-router-dom, el Contexto, Rutas privada y Rutas publicas." imagen="https://github.com/mendozalz/ReactTravel/blob/main/public/readme/portada.gif?raw=true" tecnologias={["React"]}/>

    <Portafolio url="https://github.com/mendozalz/api-poemas" title="API Poemas" description="Conociendo el ecosistema Serverless, pequeña muestra de como crear mi propia API de Poemas con la API de ChatGPT de lenguajes de programación, AWS Serverless y funciones lambda..." imagen="https://raw.githubusercontent.com/mendozalz/api-poemas/main/api_poemas.png" tecnologias={["AWS", "JS", "Funciones Lambda"]}/>

    <Portafolio url="https://mendozalz-metaverse.vercel.app/" title="Metaverse" description="Experimentado en la creación de mi propio metaverso..." imagen="https://raw.githubusercontent.com/mendozalz/metaverse/main/public/assets/Mendozalz%20Metaverse_NPC.gif" tecnologias={["Next.js", "Three.js"]}/>

    <Portafolio url="https://mlz-freefire.netlify.app/" title="Free Fire Card" description="Web Component en JS Vanilla de uso multiporposito alusivo a Free Fire..." imagen="https://i.ibb.co/DVdq6ck/Free-Fire-Card.gif" tecnologias={["Web Component"]}/>

    <Portafolio url="https://astro-tips.netlify.app/" title="Astro Build Tips" description="Proyecto del curso de Astro..." imagen="https://i.ibb.co/nLxt0M9/astrobuild-tips.png" tecnologias={["Astro", "Tailwind", "JS"]}/>

    <Portafolio url="https://marzipano.netlify.app/" title="Recorrido 360°" description="Demostración para implementación laboral de recorrido de las oficinas donde laboraba, por motivos privados solo hay imagenes referenciales..." imagen="	https://github.com/mendozalz/Recorrido_360/raw/main/img/Project%20Title.gif" tecnologias={["HTML", "CSS", "JS", "Marzipano Framework"]}/>

    <Portafolio url="https://gc-meet.netlify.app/" title="Angular Meet" description="Desarrollo Front end para un meet personalizado..." imagen="https://raw.githubusercontent.com/mendozalz/GCMeet-Angular/main/src/img/GCMeetAngular.gif" tecnologias={["Angular 16", "Tailwind"]}/>

    <Portafolio url="https://www.youtube.com/playlist?list=PLn1pn3Ll0pEGIDU7GOf_76xHXTWzxrf9T" title="Portafolio video Wordpress" description="Ya que es muy dificil exponer de manera directa mis trabajos anteriores dejo en esta card un enlace a videos donde muestran mi autoria..." imagen="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/WordPress_blue_logo.svg/800px-WordPress_blue_logo.svg.png" tecnologias={["Wordpress"]}/>

    <Portafolio url="https://halo-infinity.vercel.app/" title="Halo Infinity" description="Practicas en HTML, CSS y JS con cambio entre light mode y dark mode..." imagen="https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2020/07/halo-infinite-2005379.jpg?tf=3840x" tecnologias={["HTML", "CSS", "JS"]}/>

    <Portafolio url="https://travel-tailwind.netlify.app/" title="Mendozalz Travel" description="Final de proyecto en Tailwind con cambio entre light mode y dark mode..." imagen="https://raw.githubusercontent.com/mendozalz/Travel-Tailwind/main/public/Tailwind.png" tecnologias={["HTML", "Tailwind"]}/>
  </Scroll>
</Layout>