---
import Layout from "../components/Layout.astro";
import Scroll from "../components/Scroll.astro";
import Github from "../components/Github.astro";
---

<Layout title="Mis practicas mas recientes">
  <h1 class="text-right lg:text-left font-semibold text-light-blue-dark -mb-6 lg:mb-0">Mis ultimos repos</h1>
  <Scroll>
    <Github/>
  </Scroll>
</Layout>
